/*
  Base
*/

body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: #fff;
  line-height: 1.75rem;
}
a {
  text-decoration: none;
  color: #333;
}
h1, h2, h3, h4, h5, h6,p,span {
  font-family: "Quattrocento Sans", sans-serif;
  color: #333;
  margin:0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

/*
  Masthead
*/

.header-background {
  margin: 0;
  height: 460px;
  padding: 0;
  height: auto;
  background: url("../images/home.png") no-repeat center bottom;
  background-size: cover;
  overflow: hidden;
}

.header-mask {
  width: 100%;
  height: 460px;
  background-color: rgba(0, 0, 0, 0.4)
}

.masthead {
  font-family: "Quattrocento Sans", sans-serif;
}


.masthead-title {
  margin: 0 auto;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 90px 0 0 0;
}

.masthead-title a {
  height: 100%;
  display: block;
  font-size: 90px;
  height: 110px;
  line-height: 110px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.masthead-subtitle {
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  display: block;
  color: #fff;
}

@media (max-width: 800px) {

  .header-background,
  .header-mask {
    height: 16rem;
  }

  .masthead-title {
    width: 100%;
    padding: 2.4rem 0 0 0;
  }

  .masthead-title a {
    height: 100%;
    display: block;
    font-size: 2.2rem;
    height: 3rem;
    line-height: 3rem;
  }

  .masthead-subtitle {
    font-size: 0.8rem;
    height: 2rem;
    line-height: 2rem;
    display: block;
    color: #fff;
  }
}

/*
  Post
*/

.container {
  margin: 0 auto;
  width: 760px;
}
.post-container {
  width:100%;
  margin: 0 auto 50px;
  padding: 30px;
}

.posts {
  margin-bottom: 30px;
  padding: 0px;
  list-style: none;
  border-bottom: 1px dashed grey;
}

.posts p a:hover {
  color: #009ad6;
}

.posts h1 a{
  padding: 16px 0;
  display:block;
}

.posts h1 a:hover {
  color: #009ad6;
}

.post-date {
  display: block;
  margin-bottom: 12px;
  color: #9a9a9a;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size:16px;
}

@media (max-width: 800px) {
  .container{
    width: 100%;
    padding-top: 0.6rem;
  }
  .post-container {
    width: 94%;
    margin: 0 auto 2rem;
    padding: 0;
  }
  .posts {
    margin-bottom: 1rem;
  }
  .posts p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .posts h1 a {
    font-size: 1.1rem;
    padding: 0.5rem 0;
    line-height: 1.5rem;
    display: block;
  }
  .post-date {
    margin-bottom: 0.6rem;
    font-size: 0.6rem;
  }

}

.related {
  padding-bottom: 2rem;
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}

.related-posts a {
  text-decoration: none;
}


/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: black;
}

.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}


.footer a {
  color: #999;
  padding: 10px;
  margin:10px;
  text-decoration: none;
  font-size:26px;
}

.footer a:hover {
  color: #333;
}


/*
  Menu
*/

.menu {
  display: block;
}

.menu:after {
  content:'';
  display: table;
  clear:both;
}

.menu-content-btn{
  display:none;
}
.social-icons-btn{
  display:none;
}



.menu-content {
  float: left;
  font-size: 0;
}

.menu-content a {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

.social-icons {
  float: right;
  font-size: 0;
}

.social-icons a {
  display: inline-block;
  font-size: 1.3rem;
  padding: 10px;
}

.social-icons a i {
  color: #fff;
}


@media (max-width: 800px) {
  .menu-content{
    display:none;
    position: absolute;
    background:#fff;
    width:5rem;
    height:auto;
    left: 2.2rem;
    top:1.25rem;
  }
  .social-icons{
    display:none;
  }
  .menu-content-btn {
    display: block;
    float: left;
    font-size:1.2rem;
    padding: 0.6rem;
    color: #fff;
  }

  .social-icons-btn {
    display: block;
    float: right;
    font-size:1.2rem;
    padding: 0.6rem;
    color: #fff;
  }

  .menu-content a {
    display: block;
    text-align: center;
    color: #777;
    font-size: 1rem;
    padding: 0.1rem;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
  }

  .social-icons a {
    display: inline-block;
    font-size: 1.1rem;
    padding: 0.6rem;
  }
}




/*
  Code
*/

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Source Code Pro";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;


}
pre >code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
  }


.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}